.header {
    width: 100%;
    height: 100vh;
    min-height: 100%;
    position: relative;
    z-index: 0;
    background-image: url(../images/index-header-bg.jpg);
    background-size: 50vw;
    box-shadow: 0 10px 50px black;
}
.header .logo {
    height: 80vh;
    position: absolute;
    margin: 10vh
}
.header header {
    height: 250px;
    text-align: center;
    font-size: 30px;
}
.big-title h1 {
    text-align: center;
    font-weight: bold;
    font-family: Arial;
    font-size: 5vw;
}
.big-title h1 #song {
    font-family: "Comic Sans MS";
}
.big-title h2 {
    text-align: center;
    font-size: 2.4vw;
}
.big-title {
    position: absolute;
    margin-top: 20%;
    left: 68%;
    margin-left: -18vw;
    font-size: 25px;
    color: black;   
    overflow: hidden;
/*
    animation: big-title-intro 0.7s;
    -o-animation: big-title-intro 0.7s;
    -moz-animation: big-title-intro 0.7s;
    -webkit-animation: big-title-intro 0.7s;
*/
}

.guide-frame {
    height: 650px;
    height: 100vh;
}
.guide-frame h1 {
    margin: 5px 180px;
    margin-top: 90px;
    color: white;
    font-family: Arial, '微軟正黑體';
    font-size: 50px;
    text-shadow: 2px 2px 10px #151515;
    position: relative;
    z-index: 10;
}
.guide-frame .discription {
    margin: 0 180px;
    padding-left: 4px;
    color: white;
    font-family: serif;
    text-shadow: 1px 1px 5px #151515;
    position: relative;
    z-index: 10;
}
.guide-frame .learn-more {
    position: absolute;
    left: 50%;
    margin-top: 30%;
    margin-left:  -125px;
    width: 250px;
    height: 60px;
    display: block;
    background: rgba(0, 0, 0, 0);
    border: 2px solid white;
    text-align: center;
    line-height: 60px;
    text-decoration: none;
    color: white;
    font-family: monospace;
    font-size: 20px;
}
.guide-frame .learn-more:hover {
    background: rgba(255, 255, 255, 0.9);
    color: black;
    transition: 0.3s;
}
.guide-frame .learn-more:visited {
    text-decoration: none;
}
.bg-page {
    width: 100%;
    height: 600px;
}
.activity-image {
    width: 100%;
    margin-top: -220px;
    min-height: 820px;
    opacity: 0.8;
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    filter: alpha(opacity=80);
}