* {
    font-family: "WenQuanYi Zen Hei", "Microsoft JhengHei", Arial, sans-serif;
}

body {
    margin: 0;
    min-width: 972px;
}

.background {
    position: absolute;
    margin: 0;
    min-width: 100%;
    min-height: inherit;
    z-index: 0;
}

.closed-frame {
    position: relative;
    overflow: hidden;
}

.main-footer {
    display: block;
    width: 100%;
    background: black;
    padding-bottom: 100px;
}
/* ====== footer ====== */

footer {
    color: white;
    text-align: center;
    font-family: "Comic Sans MS";
    padding-top: 50px;
    padding-bottom: 80px;
}

footer a,
footer a:visited {
    color: #DDDDDD;
}

footer a:hover {
    color: #FFFFFF;
}

.sponsor-list h1,
.video-area h1 {
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
}

.logos-frame {
    margin: 0 auto;
}

.logos-frame div {
    margin: 0 auto;
    display: table;
}

.line1 .sponsor-logo {
    margin: 10px 10px;
    height: 70px;
}

.line2 .sponsor-logo {
    margin: 10px 20px;
    height: 120px;
}
.video-area {
    margin-top: 100px;
    min-height: 500px;
}